<mat-toolbar>
    <a routerLink="/" matIconButton class="example-icon mr20" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Document Management System</span>
    <span class="example-spacer"></span>
    <a routerLink="/login" matIconButton class="example-icon favorite-icon mr20"
        aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon>
    </a>
    <a routerLink="/signup" matIconButton class="example-icon mr20" aria-label="Example icon-button with share icon">
        <mat-icon>account_box</mat-icon>
    </a>
</mat-toolbar>
